BODY {color: black;
      background:white;}

/* Unvisited links are red, visited links are green. */
/* #03A35D is the "official" JUnit green color. */
A {color: red;}
A:visited {color: #03A35D;}

#banner {
    height: 75px;  /* Why 75??? */
    background: none;
}

span.codehighlight {color: blue;
	            font-weight: bold;}

span.errormessage {color: red;}

span.successmessage {color: #03A35D;
                     font-weight: bold;}

